@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 2rem;
  padding: 10px;
  margin: 3px;
  background-color: #5818d8;
  color: white;
}

.generate-room {
  display: flex;
  flex-direction: column;
}
.name-input {
  padding: 8px 12px;
  width: 200px;
  margin: 0 auto;
  border-radius: 2rem;
  margin-bottom: 5px;
}
.work-title {
  background-color: #fffdf7;
}
.work-title {
  size: 11;
  font-weight: 800;
  opacity: 0.8;
  position: 'absolute';
  margin-top: 6;
  margin-left: 8;
  padding: 2px 8px;
  border-radius: 1rem;
  border: 1px solid #111;
  pointer-events: 'none';
  z-index: 1;
}
.work-title:hover {
  background-color: #e6aa68;
}
